body{
    background-color: rgb(136, 136, 161);
    margin: 30px;
}

.corpo-calculadora{
    width: 300px;
    height: 570px;
    background-color: rgb(104, 96, 117);
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    margin: auto;
}
#tela-resultado{
    background-color: rgb(183, 204, 202);
    border-radius: 20px;
    height: 200px;
    width: 90%;
    border: 1px solid black;
    margin: 20px auto;
}
button{
    width: 23%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
.btnEsquerdo{
    align-items: left;
}