* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(96, 96, 101);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/montain-blue.jpg);
    background-position: center center;
}

main {
    width: 90%;
    max-width: 400px;
    height: 89vh;
    background-color: rgba(36, 25, 78, 0.524);
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px;
    box-shadow: 0px 0px 10px black;
}

main #tela {
    background-color: rgba(183, 204, 202, 0.617);
    border-radius: 20px;
    height: 170px;
    width: 100%;
    border: 2px solid black;
    margin: 20px auto;
    font-size: 60px;
    text-align: right;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.723);
}

#tela::placeholder {
    color: black;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    background-color: white;
    width: 25%;
    height: 70px;
    border-radius: 10px;
    margin: 2px;
    font-size: 28px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(173, 186, 221, 0.758);
}

button:active {
    background-color: rgb(158, 222, 156);
}

footer{
    color: white;
    font-size: 15px;
    margin-top: 25px;
}

footer a{
    color: white;
    text-decoration: none;
}

@media (max-width: 450px) {
    main {
        max-width: 70vh;
        height: 77vh;
    }

    button {
        height: 80px;
        font-size: 2rem;
    }

    main #tela {
        height: 230px;
    }
}